@import "../../assets/_global-styles.scss";

.fs-image{
    width: 100%;
    height: auto;
}

.fs-image-pad{
    width:90%;
    height: auto;
    padding: 0 5% 0 5%
}

.img-container{
    padding: 5% 0 5% 0;
    background: #f3f3f3;
}