@import "../../assets/_global-styles.scss";

.r2l-description-container{
    background: #f3f3f3;
    max-height: fit-content;
    display: flex;
    justify-content: center;
}

.r2l-description-text{
    margin-left: 20%;
}

.r2l-dh1{
    font-family: $galleryFont;
    font-weight: 300;
    font-size: 3.0rem;
}

.r2l-dh2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 2.5rem;
    margin-top: -2% !important;
}

.r2l-dh1, .r2l-dh2{
    margin: 0px;
    text-align: left;
    letter-spacing: 0.1rem;
}

.r2l-description{
    padding-top: 2rem;
    font-family: $defaultFont;
    padding-right: 25%;
    padding-left: 1%;
    text-align: left;
}

.r2l-description-content{
    padding-top: 5%;
    padding-bottom: 5%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
                "dtext imOne"
                "dtext imOne"
                "dtext imOne"
                "imTwo imOne"
                "imTwo .";
    grid-row-gap: 5%
}

.r2l-description-text{
    grid-area: dtext;
    padding-top: 5%;
}

.r2l-desc-im-one{
    grid-area: imOne;

    .r2l-img-one{
        width: 60%;
        height: 100%;
        padding-right: 10%;
        object-fit: cover;
    }
}

.r2l-desc-im-two{
    grid-area: imTwo;

    .r2l-img-two{
        width: 60%;
        height: auto;
    }
}
