@import "../../assets/_global-styles.scss";

@mixin menuStyles {
    @include createFlex(column);
    justify-content: flex-start;
    text-align: left;
}

.footer{
    @include createFlex(row);
    background-color: #161F1E;
    height: 50vh;
    padding-top: 7%
}

.misc{
    flex: 2.5;
    @include createFlex(column)
}

.contact-us{
    flex: 1;
    @include menuStyles()
}

.about{
    flex: 1;
    @include menuStyles()
}

.extras{
    flex: 1;
    @include menuStyles()
}

a, .contact-title{
    font-family: $defaultFont;
    text-decoration: none;
    color: #fff;
    padding-top: 1rem;
}

.contact-title{
    color: #6F7574;
    font-size: 0.85rem;
}

.small-logo{
    width: 20%;
    height: 20%;
}

.logo{
    flex: 3;
    @include createFlex(row);
    justify-items: flex-start;
    padding-left: 20%;
}

.copyright{
    flex: 1;
    @include createFlex(row);
    justify-items: flex-start;
}

.copyright-text{
    color: #444B4A;
    font-size: 0.7rem;
    padding-left: 20%;
}